<template>
    <v-app light class="grey lighten-4">
<!--        <Test></Test>-->
<!--        <Header></Header>-->
        <NavBar></NavBar>
        <Banner></Banner>
        <AboutUs></AboutUs>
<!--        &lt;!&ndash;<Banner></Banner>-->

        <Service></Service>
        <Team></Team>
        <Contact></Contact>
        <Footer></Footer>-->
    </v-app>

</template>

<script>
    // import Test from "../components/Test";
    import NavBar from "../components/NavBar";
    import Banner from "../components/Banner";
    import AboutUs from "../pages/AboutUs";
    import Footer from "../components/Footer";
    import Service from "../pages/Service";
    import Team from "../pages/Team";
    import Contact from "../pages/Contact";
    // import Header from "../components/Header";
    export default {
        name: "index",
        components: {
            // Test,
            // Header
            NavBar,Banner,AboutUs,Service,Contact,Team,Footer
        },
    }
</script>

<style scoped>

</style>