<template>
    <v-app>
        <v-layout class="about-layout" >
            <v-container >
                <div class="layout-container">
                    <div class="black--text text-center layout-container-title ">ABOUT US</div>

                    <v-container>
                        <v-row class="mt-5">
                            <div class="col-md-6 col-xl-6">
                                <v-card flat>
                                    <v-img
                                            src="https://cdn.vuetifyjs.com/images/parallax/material2.jpg"
                                            gradient="to top right, rgba(100,115,201,.33), rgba(25,32,72,.7)" height="400px"
                                    ></v-img>
                                </v-card>
                            </div>
                            <div class="col-md-6 col-xl-6">
                                <v-card flat light class="about-us-box" >
                                    <v-card-text>
                                        <div class="about-text-title text-uppercase">Word of the Day</div>
                                        <p class="about-text-description">
                                            A paragraph is a self-contained unit of a discourse in writing dealing with a particular point or idea.
                                            A paragraph consists of one or more sentences.
                                            Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.
                                        </p>
                                    </v-card-text>
                                    <v-card-actions>
                                        <v-btn depressed class="yellow--text black">
                                            Learn More
                                        </v-btn>
                                    </v-card-actions>
                                </v-card>
                            </div>
                        </v-row>
                    </v-container>
                </div>
            </v-container>
        </v-layout>
    </v-app>

</template>

<script>
    export default {
        name: "AboutUs"
    }
</script>

<style scoped>
    .about-layout{
        background-color: #FFFFFFFF;
    }
    .layout-container-title{
        margin-top: 5%;
        font-size: 35px;
        text-decoration: underline;
        font-family: jo;
    }
    .layout-container{
        margin-left: 10%;
        margin-right: 10%;
    }
    .layout-container .about-us-box{
        background-color: transparent;
    }
    .about-text-title{
        font-size: 25px;
        /*background-color: #615d4685;*/
    }
    .about-text-description{
        margin-top: 5%;
        text-align: justify;
    }
</style>