<template>
    <v-app >
        <v-layout class="contact-layout" >
            <v-container>
                <div class="contact-container">
                    <div class="contact-box">
                        <div class="black--text text-center contact-layout-container-title ">Contact us </div>
                       <v-container>
                           <div class="black--text text-center contact-layout-container-description ">
                           A paragraph is a series of related sentences developing a central idea, called the topic.
                           Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea.
                           Paragraphs add one idea at a time to your broader argument.
                           </div>
                       </v-container>
                        <v-container >
                            <v-row class="pa-10">
                                <div class="col-lg-4 col-xl-4 col-md-4 contact-box-item" v-for="(item,index) in contactItem" :key="index">
                                    <v-card flat class="mx-auto pb-10 white black--text" width="300px" min-height="270px">
                                        <div class="align-end contact-box-icon" >
                                            <v-icon class="contact-box-icon-text black--text">{{item.icon}}</v-icon>
                                        </div>
                                        <v-card-title class="contact-box-head black--text"><p>{{item.head}}</p></v-card-title>
                                        <v-card-subtitle class="pb-0 contact-box-description black--text">{{item.description}}</v-card-subtitle>
                                    </v-card>
                                </div>
                            </v-row>
                        </v-container>
                        <v-container class="contact-box-layout">
                            <!--<div class="col-xl-4 col-lg-4 col-md-4">
                                <v-card flat min-height="360px">
                                    <v-container fluid class="white">
                                        <v-row>
                                            <v-col v-for="n in 9" :key="n" class="d-flex child-flex" cols="4">
                                                <v-card flat tile class="d-flex" min-height="360px">
                                                    <v-img :src="`https://picsum.photos/500/300?image=${n * 5 + 10}`"
                                                           :lazy-src="`https://picsum.photos/10/6?image=${n * 5 + 10}`"
                                                            aspect-ratio="1"
                                                            class="grey lighten-2"
                                                    >
                                                        <template v-slot:placeholder>
                                                            <v-row class="fill-height ma-0" align="center" justify="center">
                                                                <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                                                            </v-row>
                                                        </template>
                                                    </v-img>
                                                </v-card>
                                            </v-col>
                                        </v-row>
                                    </v-container>
                                </v-card>
                            </div>-->
                                <div class="">
                                    <div class="contact-box-inner">
                                        <form>
                                            <v-text-field
                                                    v-model="name"
                                                    :counter="10"
                                                    label="Name"
                                                    outlined
                                                    dark
                                                    required
                                            ></v-text-field>
                                            <v-text-field
                                                    color="red"
                                                    dark
                                                    label="Regular"
                                            ></v-text-field>
                                            <v-select
                                                    v-model="select"
                                                    :items="items"
                                                    :error-messages="errors"
                                                    label="Select"
                                                    data-vv-name="select"
                                                    required
                                                    dense
                                                    outlined
                                            ></v-select>
                                            <v-checkbox
                                                    v-model="checkbox"
                                                    :error-messages="errors"
                                                    value="1"
                                                    label="Option"
                                                    type="checkbox"
                                                    outlined
                                                    dense
                                                    required
                                            ></v-checkbox>
                                            <v-btn class="mr-4" @click="submit">submit</v-btn>
                                            <v-btn @click="clear">clear</v-btn>
                                        </form>
                                    </div>

                                </div>

                        </v-container>
                    </div>


                </div>

            </v-container>
        </v-layout>
    </v-app>

</template>
<script>
    export default {
        name: "Contact",
        components: {
            /*ValidationProvider,
            ValidationObserver,*/
        },
        data: () => ({
            name: '',
            email: '',
            select: null,
            items: [
                'Item 1',
                'Item 2',
                'Item 3',
                'Item 4',
            ],
            contactItem:[
                {icon:'mdi-cellphone-basic' , head:'Phone' , description:'+ 1 (00) 123-45-67'},
                {icon:'mdi-home-map-marker' , head:'Address' , description:'756 Livingston Street, Brooklyn, NY 11201.\n' +
                        'United State of America'},
                {icon:'mdi-email' , head:'Mail' , description:'info@forzo.com'}
            ],
            checkbox: null,
        }),

        methods: {
            submit () {
                this.$refs.observer.validate()
            },
            clear () {
                this.name = ''
                this.email = ''
                this.select = null
                this.checkbox = null
                this.$refs.observer.reset()
            },
        },
    }
</script>

<style scoped>
    .contact-layout{
        background-color: rgb(220, 218, 205);
        margin-top: 5%;
    }
    .contact-layout-container-title{
        font-size: 25px;
        font-family: "Comic Sans MS";
        text-decoration: underline;
    }
    /*====contact box item start====*/

    .contact-box .contact-box-icon{
        width: 100%;
        text-align: center;
    }
    .contact-box .contact-box-icon-text{
        font-size: 65px;
        margin-top: 10%;

    }
    .contact-box .contact-box-head p{
        width: 100%;
        text-align: center;
    }
    .contact-box .contact-box-description{
        width: 100%;
        text-align: center;
    }
    /*====contact box item end====*/

    .contact-layout-container-description{
        width: 100%;
        margin-top: 3%;
        padding-right: 15%;
        padding-left: 15%;
    }
    .contact-container{
        width: 100%;
        background-color: #eae9e2;
    }
    .contact-box{
        padding: 5%;
    }
    .contact-box-layout{


    }
    .contact-box-form{
        background-color: rgba(104, 103, 101, 0.65);
        padding: 5%;

    }
    .contact-box-inner{

    }
</style>