<template>
    <v-app>
        <v-container class="fill-height" fluid>
            <v-row align="center" justify="center">
                <v-col class="shrink">
                    <v-tooltip right>
                        <template v-slot:activator="{ on }">
                            <v-btn :href="source" icon large target="_blank" v-on="on">
                                <v-icon large>mdi-code-tags</v-icon>
                            </v-btn>
                        </template>
                        <span>Source</span>
                    </v-tooltip>
                </v-col>
            </v-row>
        </v-container>
    </v-app>
</template>

<script>
    export default {
        name: "Home"
    }
</script>

<style scoped>

</style>