<template>
    <v-app>
    <v-layout class="about-layout" >
        <v-container >
            <div class="layout-container">
                <div class="black--text text-center layout-container-title ">Service </div>
                <v-container>
                    <v-row class="mt-5">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12" v-for="(ServiceItem,index) in ServiceItems" :key="index">
                            <v-card flat class="mx-auto service-box" max-width="400">
                                <div class="align-end service-box-icon" >
                                    <v-icon class="service-box-icon-text service-box-icon-text:hover ">mdi-home</v-icon>
                                </div>
                                <v-card-title class="service-box-title"><p>{{ServiceItem.itemTitle}}</p></v-card-title>
<!--                                <v-card-subtitle class="pb-0 red&#45;&#45;text">Number 10</v-card-subtitle>-->
                                <v-card-text class="service-box-details">
                                    <div class="service-box-subtitle"><p>Whitehaven Beach</p></div>
                                    <div>Whitsunday Island, Whitsunday Islands Whitsunday Islands Whitsunday Islands Islands Whitsunday Islands Whitsunday Islands Whitsunday Islands Whitsunday Islands Whitsunday Islands Whitsunday Islands Whitsunday
                                    </div>
                                </v-card-text>
                                <v-card-actions>
                                    <v-btn color="orange" text>Share
                                    </v-btn>
                                    <v-btn color="orange" text>
                                        Explore
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </div>
                    </v-row>
                </v-container>
            </div>
        </v-container>
    </v-layout>
    </v-app>


</template>

<script>
    export default {
        name: "Service",
        data(){
            return{
                ServiceItems :[
                    {itemTitle : 'Service title 1 '},
                    {itemTitle : 'Service title 1 '},
                    {itemTitle : 'Service title 1 '},
                    {itemTitle : 'Service title 1 '},
                    {itemTitle : 'Service title 1 '},
                    {itemTitle : 'Service title 1 '},

                ]
            }
        }
    }
</script>

<style scoped>
    .about-layout{
        background-color: rgb(220, 218, 205);
        margin-top: 5%;
    }
    .layout-container-title{
        margin-top: 5%;
        font-size: 35px;
        text-decoration: underline;
        font-family: "Comic Sans MS";
    }
    .layout-container{
        margin-left: 10%;
        margin-right: 10%;
    }
    .layout-container .about-us-box{
        background-color: transparent;
    }
    .service-box{
        background-color: #fffbf0;
        color: black;
    }
    .service-box-icon{
        height:200px;
        text-align: center;


    }
    .service-box-icon-text{
        font-size: 80px;
        margin-top: 20%;
        color: #fcd51e;

    }
    .service-box-icon-text:hover{
        font-size: 100px;
        color: #5f5f52;
    }
    .layout-container .service-box-title p{
        width: 100%;
        text-align: center;
    }
    .service-box-subtitle{
        width: 100%;

    }
    .layout-container .service-box-subtitle p{
        text-align: center;
    }
    .layout-container .service-box-details{
        color: black;
        text-align: justify;
        padding-left: 5%;
        padding-right: 5%;
    }

</style>