<template>
    <v-app light>
        <v-layout class="about-team" >
            <v-container >
                <div class="team-layout-container">
                    <div class="black--text text-center team-layout-container-title ">Team </div>
                    <div  class="team-outer-box ">
                        <v-sheet  class="mx-auto slider-sheet mt-5" elevation="0" >
                            <v-slide-group cycle v-model="model" class="pa-4 slider-group" mandatory show-arrows default>
                                <v-slide-item v-for="n in 15" :key="n"  default >
                                    <v-card flat :color="active ? 'primary' : 'grey '" class="ma-4" height="300" width="200" @click="toggle">
                                        <v-row  class="fill-height" align="center" justify="center">
                                            <v-scale-transition>
                                                <v-card  class="team-box" >
                                                    <v-img  class="white--text align-end" height="200px" src="https://cdn.vuetifyjs.com/images/cards/docks.jpg">
                                                        <v-card-title>Top 10 Australian beaches</v-card-title>
                                                    </v-img>
                                                    <v-card-subtitle class="pb-0 red--text">Number 10</v-card-subtitle>
                                                    <v-card-text class="black--text">
                                                        <div>Whitehaven Beach</div>
                                                        <div>Whitsunday Island, Whitsunday Islands</div>
                                                    </v-card-text>
                                                    <v-card-actions>
                                                        <v-btn color="orange" text>
                                                            Share
                                                        </v-btn>
                                                        <v-btn color="orange" text>
                                                            Explore
                                                        </v-btn>
                                                    </v-card-actions>
                                                </v-card>
                                            </v-scale-transition>
                                        </v-row>
                                    </v-card>
                                    <!--<v-card flat class="team-box" >
                                        <v-img  class="white&#45;&#45;text align-end" height="200px" src="https://cdn.vuetifyjs.com/images/cards/docks.jpg">
                                            <v-card-title>Top 10 Australian beaches</v-card-title>
                                        </v-img>
                                        <v-card-subtitle class="pb-0">Number 10</v-card-subtitle>
                                        <v-card-text class="text&#45;&#45;primary">
                                            <div>Whitehaven Beach</div>
                                            <div>Whitsunday Island, Whitsunday Islands</div>
                                        </v-card-text>
                                        <v-card-actions>
                                            <v-btn color="orange" text>
                                                Share
                                            </v-btn>
                                            <v-btn color="orange" text>
                                                Explore
                                            </v-btn>
                                        </v-card-actions>
                                    </v-card>-->
                                </v-slide-item>
                            </v-slide-group>
                        </v-sheet>
                        <!--<v-row class="mt-5">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 " v-for="(ServiceItem,index) in ServiceItems" :key="index">
                                <v-card flat class="team-box" >
                                    <v-img  class="white&#45;&#45;text align-end" height="200px" src="https://cdn.vuetifyjs.com/images/cards/docks.jpg">
                                        <v-card-title>Top 10 Australian beaches</v-card-title>
                                    </v-img>
                                    <v-card-subtitle class="pb-0">Number 10</v-card-subtitle>
                                    <v-card-text class="text&#45;&#45;primary">
                                        <div>Whitehaven Beach</div>
                                        <div>Whitsunday Island, Whitsunday Islands</div>
                                    </v-card-text>
                                    <v-card-actions>
                                        <v-btn color="orange" text>
                                            Share
                                        </v-btn>
                                        <v-btn color="orange" text>
                                            Explore
                                        </v-btn>
                                    </v-card-actions>
                                </v-card>
                            </div>
                        </v-row>-->
                    </div>
                </div>
            </v-container>
        </v-layout>
    </v-app>
</template>

<script>
    export default {
        name: "Team",
        data(){
            return{
                ServiceItems :[
                    {itemTitle : 'Service title 1 '},
                    {itemTitle : 'Service title 1 '},
                    {itemTitle : 'Service title 1 '},
                    {itemTitle : 'Service title 1 '},
                    {itemTitle : 'Service title 1 '},
                    {itemTitle : 'Service title 1 '},

                ],
                model: null,
            }
        }
    }
</script>

<style scoped>
    .about-team{
        background-color: rgb(220, 218, 205);
        margin-top: 5%;
    }
    .team-layout-container-title{
        margin-top: 5%;
        font-size: 35px;
        text-decoration: underline;
        font-family: "Comic Sans MS";

    }
    .team-layout-container{
        /*margin-left: 10%;
        margin-right: 10%;*/
    }
    .team-layout-container .team-box{
        background-color: #ffffff;
        color: #5f5f52;

    }
    .team-outer-box{
       /* padding-left: 10%;
        padding-right: 10%;*/
        background-color: #888888;
    }

    .layout-container .service-box-subtitle p{
        text-align: center;
    }
    .layout-container .service-box-details{
        color: black;
        text-align: justify;
        padding-left: 5%;
        padding-right: 5%;
    }
    .team-layout-container .slider-sheet{
        width: 100%;

    }
    .team-layout-container .slider-sheet .v-icon{
        color: black;
    }
    .slider-group{
        background-color: rgb(234, 233, 226);
        color: black;
        height: 450px;
    }
    .theme--dark.v-icon{

    }
</style>