<template>
    <v-app>
        <v-layout class="layout-app" row wrap>
            <v-carousel cycle continuous hide-delimiters height="900px">
                <v-carousel-item v-for="(item,i) in items" :key="i" :src="item.src" class="carousel-item">
                    <v-container>
                        <v-content  :class="[$vuetify.breakpoint.mdAndUp ? 'banner-content' : 'banner-content-responsive'] ">
                            <v-row class="col-md-8 col-xl-6">
                                <div class="text-justify text-uppercase banner-text white--text">
                                    <div :class="[$vuetify.breakpoint.mdAndUp ? 'banner-title' : 'banner-title-responsive'] ">{{ item.title }} Slide</div>
                                    <div :class="[$vuetify.breakpoint.mdAndUp ? 'banner-sub-title' : 'banner-sub-title-responsive'] ">{{ item.subTitle }} Slide</div>
                                    <div :class="[$vuetify.breakpoint.mdAndUp ? 'banner-description' : 'banner-description-description'] " style="">{{ item.description }} Slide</div>
                                    <div class="banner-button">
                                        <v-btn text class="button-text yellow--text ">Learn More...</v-btn>
                                    </div>
                                </div>
                            </v-row>
                        </v-content>
                    </v-container>
                </v-carousel-item>
            </v-carousel>
        </v-layout>
    </v-app>
</template>

<script>
    export default {
        name: "Banner",
        data () {
            return {
                items: [
                    {
                        src: 'https://cdn.vuetifyjs.com/images/carousel/squirrel.jpg', title :'one' ,
                        subTitle: 'this is content subtitle',
                        description :'This is description one mix with subtitle. and good for health This is description one mix with subtitle.' +
                            ' and good for health This is description one mix with subtitle. ' +
                            'and good for health This is description one mix with subtitle. and good for health',
                    },
                    {
                        src: 'https://cdn.vuetifyjs.com/images/carousel/sky.jpg', title :'two',
                        subTitle: 'this is content subtitle',
                        description :'This is description two mix with subtitle. and good for health ' +
                            ' and good for health This is description one mix with subtitle. ' +
                            'and good for health This is description one mix with subtitle. and good for health',
                    },
                    {
                        src: 'https://cdn.vuetifyjs.com/images/carousel/bird.jpg', title :'three',
                        subTitle: 'this is content subtitle',
                        description :'This is description two mix with subtitle. and good for health ' +
                            ' and good for health This is description one mix with subtitle. ' +
                            'and good for health This is description one mix with subtitle. and good for health',
                    },
                    {
                        src: 'https://cdn.vuetifyjs.com/images/carousel/planet.jpg', title :'four',
                        subTitle: 'this is content subtitle',
                        description :'This is description two mix with subtitle. and good for health ' +
                            ' and good for health This is description one mix with subtitle. ' +
                            'and good for health This is description one mix with subtitle. and good for health',
                    },
                ],
            }
        },
    }
</script>

<style scoped>
    .layout-app{
        height: 550px;
        background-color: #ffffff;
        margin-bottom: 0px;
    }
    .carousel-item{
        height: 500px;
    }
    .banner-content{
        /*width: 100px;*/
        position: absolute;
        margin-top: 120px;
        margin-left: 0px;
        background-color: #615d4685;

    }
    .banner-content-responsive{
        position: absolute;
        margin-top: 50px;
        margin-left: 50px;
        background-color: #615d4685;
        width: 60%;
        height: 80%;
    }
    .banner-text{
        padding-left: 20px;
        padding-right: 20px;
    }
    .banner-title{
        font-size: 25px;
        font-family: "Comic Sans MS";
        text-align: center;
        /*text-decoration: underline;*/

    }
    .banner-title-responsive{
        font-size: 18px;
        font-family: "Comic Sans MS";
        text-align: center;
        /*text-decoration: underline;*/

    }
    .banner-sub-title{
        font-size: 20px;
        font-family: "Comic Sans MS";
        text-align: center;
        margin-top: 5px;
    }
    .banner-sub-title-responsive{
        font-size: 12px;
        font-family: "Comic Sans MS";
        text-align: center;
        margin-top: 5px;
    }
    .banner-description{
        width: 500px;
        font-size: 15px;
        font-family: "Comic Sans MS";
        text-align: justify;
        margin-top: 20px;
    }
    .banner-description-description{
        font-size: 10px;
        font-family: "Comic Sans MS";
        text-align: justify;
        margin-top: 20px;
    }
    .banner-button{
        margin-top: 15px;
        position: center;
        text-align: center;
    }


</style>