<template>
    <div>
        <v-app-bar 
            v-scroll="onScroll"
            :color="!isScrolling ? '#31302e6e' : 'black'"
            fixed
            flat
            :height="!isScrolling ? '100px' : '80px'"
        >
            <v-spacer></v-spacer>
            <figure>
                <v-img src="https://analytiq.xyz/storage/logo/6pwmbkZKyF0cT8wVt2txQKJzgVDBO8W0iifjgy6h.png" height="100px" width="200px"></v-img>
<!--                <v-flex class="navbar-title">ANALYTIQ</v-flex>-->
            </figure>
<!--            <v-divider class="mx-4 grey darken-1" inset vertical></v-divider>-->
<!--            <v-toolbar-title :class="[$vuetify.breakpoint.mdOnly ? 'body-1' : '']" class="black&#45;&#45;text logo-title">ANALYTIQ</v-toolbar-title>-->

            <v-spacer></v-spacer>
            <div >
                <v-tabs background-color="transparent"
                        color="yellow"
                >
                    <v-tab class="white--text">Home</v-tab>
                    <v-tab class="white--text">
                        <v-icon class="white--text">mdi-circle-medium</v-icon>
                            Home
                    </v-tab>
                    <v-tab class="white--text">
                        <v-icon class="white--text">mdi-circle-medium</v-icon>
                            Home
                    </v-tab>
                    <v-tab>
                        <v-icon>mdi-circle-medium</v-icon>
                        Home
                    </v-tab>
                    <v-tab>
                        <v-icon>mdi-circle-medium</v-icon>
                        Home
                    </v-tab>
                    <v-tab>
                        <v-icon>mdi-circle-medium</v-icon>
                        Home
                    </v-tab>
                    <v-tab>
                        <v-icon>mdi-circle-medium</v-icon>
                        Home
                    </v-tab>
                </v-tabs>
            </div>
            <v-spacer></v-spacer>
            <v-tabs-items class="transparent white--text">+880-1516174119</v-tabs-items>
            <!--<v-spacer></v-spacer>-->
            <v-app-bar-nav-icon @click="drawerStatus()" class="d-block d-lg-none d-md-none d-xl-none yellow--text" ></v-app-bar-nav-icon>
        </v-app-bar>
        <v-navigation-drawer bottom  v-model="drawer" app  :class="drawerClass" class="d-none d-sm-block  d-lg-none">
            <v-img :aspect-ratio="22/6" src="https://cdn.vuetifyjs.com/images/parallax/material.jpg">
                <v-list>
                    <v-list-item>
                        <v-list-item-avatar>
                            <v-img src="https://cdn.vuetifyjs.com/images/john.png"></v-img>
                        </v-list-item-avatar>
                    </v-list-item>
                    <v-list-item link>
                        <v-list-item-content>
                            <v-list-item-title class="title">John Leider</v-list-item-title>
                            <v-list-item-subtitle>john@vuetifyjs.com</v-list-item-subtitle>
                        </v-list-item-content>
                        <v-list-item-action>
                            <v-icon>mdi-menu-down</v-icon>
                        </v-list-item-action>
                    </v-list-item>
                </v-list>
            </v-img>
            <v-divider></v-divider>
            <v-list nav dense>
                <v-list-item-group v-model="item" color="primary">
                    <v-list-item v-for="(item, index) in items" :key="index">
                        <v-list-item-icon>
                            <v-icon v-text="item.icon"></v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                            <v-list-item-title v-text="item.text"></v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </v-list-item-group>
            </v-list>
            <v-divider></v-divider>
        </v-navigation-drawer>



    </div>

</template>

<script>
    export default {
        name: "NavBar",
        data: () => ({
            showLogo: false,
            isScrolling: false,
            drawer: false,
            drawerClass :'d-none',
            item: 0,
            items: [
                {text: 'Home', icon: 'mdi-home'},
                {text: 'Team', icon: 'mdi-account-multiple'},
                {text: 'Portfolio', icon: 'mdi-star'},
                {text: 'Recent', icon: 'mdi-history'},
                {text: 'Offline', icon: 'mdi-check-circle'},
                {text: 'Uploads', icon: 'mdi-upload'},
                {text: 'Backups', icon: 'mdi-cloud-upload'},
            ],

            activeBtn: 1,
        }),
        methods:{
            drawerStatus(){
                let self = this;
                self.drawer = ! self.drawer;
                self.drawerClass = 'd-block'
            },
            onScroll () {
            const offset = window.pageYOffset
            this.isScrolling = offset > 50
            this.showLogo = offset > 50
            },

        },


    }
</script>

<style scoped>
    .toolbar-items{
        height: 100%;
        color: #fcd51e;
    }
    .logo-title{
        font-family: 'sans-serif';
        font-size: 15px;
        /*margin-top: 2%;*/
        border: 2px solid white;
        padding: 5px;
    }
</style>