<template>
        <v-sheet
                id="scrolling-techniques-7"
                class="overflow-y-auto"
                max-height="1000"
        >
            <v-container style="height: 1500px;">
                <v-app-bar app
                        absolute
                        color="white"
                        elevate-on-scroll
                        scroll-target="#scrolling-techniques-7"
                >
                    <v-app-bar-nav-icon></v-app-bar-nav-icon>

                    <v-toolbar-title>Title</v-toolbar-title>

                    <v-spacer></v-spacer>

                    <v-btn icon>
                        <v-icon>mdi-magnify</v-icon>
                    </v-btn>

                    <v-btn icon>
                        <v-icon>mdi-heart</v-icon>
                    </v-btn>

                    <v-btn icon>
                        <v-icon>mdi-dots-vertical</v-icon>
                    </v-btn>
                </v-app-bar>
            </v-container>
        </v-sheet>


</template>

<script>
    export default {
        name: "Test",
        props: {
            source: String,
        },

        data: () => ({
            drawer: null,
            drawerRight: null,
            right: false,
            left: false,
        }),
    }
</script>

<style scoped>

</style>