<template>
  <v-app>
    <Index></Index>

  </v-app>
</template>

<script>
import Index from './views/Index';

export default {
  name: 'App',

  components: {
    Index,
  },

  data: () => ({
    //
  }),
};
</script>
